<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>OnlineRestaurantPortal</title>
</head>

<body style="background-color: lightblue;">



    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">OnlinePortal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                
                <li class="nav-item active">
                    <a class="nav-link" href="/addcustomer">Add Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/editcustomer">Edit Customer</a>
                </li>
                               
                <li class="nav-item">
                    <a class="nav-link " href="/viewcustomer">View Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/deletecustomer">Delete Customer</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a href="/logout" class="btn btn-danger my-2 my-sm-0 ml-3" type="submit">Logout</a>
            </form>
        </div>
    </nav>


    <div class="container">
        {{#if message}}
        <h4 class="alert alert-danger">{{message}}</h4>
        {{/if}}
    </div>
    <div class="container my-5">
        <form method="POST" action="/addcustomer">
            <div class="form-group ">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control" name="name" style="width: 50%;" id="exampleInputEmail1"
                    aria-describedby="emailHelp">

            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Email</label>
                <input type="email" style="width: 50%;" name="email" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Phoneno</label>
                <input type="text" style="width: 50%;" name="phoneno" class="form-control"
                    id="exampleInputPassword1">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">No of Guests :</label>
                <input type="number" style="width: 30%;" name="guests" class="form-control"
                    id="exampleInputPassword1">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea2">Address</label>
                <textarea class="form-control" id="exampleFormControlTextarea2" name="address"
                    style="width: 50%;" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Date</label>
                <input type="date" id="birthday" style="width: 50%;" name="date" class="form-control" name="birthday">
            </div>
            

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Any Special Request</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="specialmessage"
                    style="width: 50%;" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/viewcustomer" type="submit" class="btn btn-danger">View All</a>
        </form>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>